.logo {
    height: 60px;
    width: 200px;
}

.container .listgroup {
    padding-top: 45px;
}

.slogan-text {
    font-size: small;
    padding-left: 40px;
}

body {
    background-color: #f4b631;
}

.container.main {
    background-color: wheat;
    background-image: url(../images/background.png);
    background-position: center;
    background-size: 2000px;
}

.btn {
    background-color: #3c2416;
    color:white;
}

