.logo {
    height: 60px;
    width: 200px;
}

.container .listgroup {
    padding-top: 45px;
}

.slogan-text {
    font-size: small;
    padding-left: 40px;
}

body {
    background-color: #f4b631;
}

.container.main {
    background-color: wheat;
    background-image: url(../images/background.png);
    background-position: center;
    background-size: 2000px;
}

.btn {
    background-color: #3c2416;
    color:white;
}

.text-center {
    color:white;
    font-size: x-large;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    justify-content: center;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}